<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AmpPi</title>
</head>
<body>
<form method="post">
    <!-- <input type="number" name="num" value="{{ num }}"/> -->
    <select name="effect" style="width:80%;height:300px;font-size:40px;">
        {% for key, value in effects.items() %}
            <option value={{key}} {% if active == key %} selected {% endif %} > {{ effects[key] }} </option>
        {% endfor %}
    </select>
	<br>
    <input type="submit" style="font-size:40px;width:80%;height:300px;">
</form>
<p>Preset: {{ active }}</p>
</body>
</html>
